html, body, p, header, h1, h2, section,
button, form, div, input, img, ul, 
li, a, article, label {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	vertical-align: baseline;
  color: #3b4559;
}
p {
	text-align: justify;
	line-height: 115%;
}
header {
	text-align: center;
	color: white;
	background-color: #fc7169;
	margin-bottom: 1px;
	padding: 0.8rem;
	height: 10%;
	border-bottom: 5px solid #fb3a2f;
}
h1 {
   color: white;
   text-shadow: 2px 2px #212121;
   font-family: 'Cinzel Decorative', cursive;
}
.section {
	display: flex;
	flex-direction: row;
}
.map svg {
  fill: #9da1a7;
}
.map, .saltyQuestion, .sweetQuestion,
.wildQuestion, .spicyQuestion, .numbQuestion {
	width: 70%;
	height: 45rem;
	overflow: auto;
	border: 5px double #BDBDBD;
}
.order {
	height: 45rem;
	margin-right: 10%;
}
.saltyQuestion, .sweetQuestion,
.wildQuestion, .spicyQuestion, .numbQuestion {
	display: none;
}
.map svg {
	/*transform: translate(-70px, -200px);*/
	display: block;
	margin: auto;
  width: 100%;
  height: 100%;
}
.butt {
	height: 50%;
	width: 100%;
	margin: 15% 20%  5%;
}
.butt p {
	font-size: 1.3rem;
	font-weight: 900;
	margin: 3% 0 8%;
}
.butt button {
  color: #232935;
	height: 2.7rem;
	margin: 0.5rem;
	width: 14rem;
	display: list-item;
	border-radius: 8px;
	font-size: 1rem;
	box-shadow: -2px 2px #808080;
	cursor: pointer;
	opacity: 0.6;
	pointer-events: none;
  line-height: 1rem;
}
.butt button:active {
  transform: translate(-1px, 1px);
}
#salty {
	opacity: 1;
	pointer-events: auto;
	border: 2px solid #283593;
	background-color: #cacef0;
}
#sweet {
	border: 2px solid #00838F;
	background-color: #b6f9ff;
}
#wild {
	border: 2px solid #558B2F;
	background-color: #daeecb;
}
#spicy {
	border: 2px solid #6A1B9A;
	background-color: #e0c0f4;
}
#numbing {
	border: 2px solid #C62828;
	background-color: #f2c0c0;
}
.circle {
	width: 100%;
	height: 40%;
	margin: 10% 20%;
}
.circle svg {
	margin: 0 10%;
}
.circle text {
	font-family: "DFKai-sb";
  fill: #232935;
}
#dishes {
	width: 100%;
	font-size: 1.3rem;
	font-weight: 900;
	margin-bottom: 8%;
	margin-top: 1%;
}
#num {
	width: 100%;
	text-align: center;
	font-size: 4rem;
	margin-top: -57%;
}
.saltyQuestion article, .sweetQuestion article, 
.wildQuestion article, .spicyQuestion article,
.numbQuestion article {
  height: 20rem;
}
.saltyQuestion h2, .sweetQuestion h2, 
.wildQuestion h2, .spicyQuestion h2,
.numbQuestion h2 {
	padding: 1rem 1rem 0 1rem;
	font-size: 2rem;
}
.saltyQuestion p {
	padding: 1rem 1rem;
	font-size: 1.55rem;
}
.sweetQuestion p {
	padding: 0.4rem 1rem;
	font-size: 1.5rem;
}
.wildQuestion p {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}
.spicyQuestion p {
	padding: 0.8rem 1rem;
	font-size: 1.4rem;
}
.numbQuestion p {
  padding: 0.95rem 1rem;
  font-size: 1.5rem;
}
.saltyQuestion img, .sweetQuestion img,
.wildQuestion img, .spicyQuestion img,
.numbQuestion img {
	height: 10rem;
	width: 12rem;
	border: 2px solid #616161;
	border-radius: 4px;
}
.saltyQuestion form > div, .sweetQuestion form > div,
.wildQuestion form > div, .spicyQuestion form > div,
.numbQuestion form > div {
	display: inline-block;
	width: 33%;
	text-align: center;
	margin: 1.5rem 0;
}
.saltyQuestion label, .sweetQuestion label,
.wildQuestion label, .spicyQuestion label,
.numbQuestion label {
  font-size: 1.2rem;
}
.sub {
	width: 50%;
  padding: 1.2% 20%;
  color: #FFF;
  background: #1abc9c;
  font-size: 1.2rem;
  text-align: center;
  font-style: normal;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin: 0.65rem 25% 1rem;
  border-radius: 8px;
}
.sub:hover {
	background: #109177;
	cursor: pointer;
}
a {
	color: #35a785;
	text-decoration: none;
}
.img-replace {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;
}
.cd-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #ffffff;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container p {
  padding: 3rem 3.5rem;
  color: #8f9cb5;
  font-size: 1.2rem;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 100%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}