* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
<<<<<<< HEAD
}
=======
	margin: 0;
	padding: 0;
}
	
>>>>>>> master
/*
nav {
	display: flex;
	height: 1%;
	padding: 0.2em;
	z-index: 9999;
	position: relative;
}
nav ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline;
	float: right;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
}*/
<<<<<<< HEAD
.map {
	width: 60%;
	position: relative;
	left: 0px;
	top: 0px;
}

svg {
	position: absolute;
	/*clip: rect(250px, 1500px, 1500px, 200px);*/
}

svg #Zhe_Jiang:hover,
=======
/*#Zhe_Jiang:hover,
>>>>>>> master
#Jiang_Su:hover,
#Shan_Dong:hover,
#Sichan_Chongqing:hover,
#Hu_Nan:hover,
#An_Hui:hover,
#Cantonese:hover,
#Fu_Jian:hover
 {
	opacity: 0.75;
}

#Shan_Dong:hover {
	fill: purple !important;
}*/
/*.map {
	max-height: 33rem;
	max-width: 44%;
	overflow: hidden;
}
*/

header {
	text-align: center;
	color: white;
	background-color: #F44336;
	margin-bottom: 1px;
	padding: 0.8rem;
	border-bottom: 5px solid #B71C1C;
	font-family: 'Cinzel Decorative', cursive;
}
h1 {
   color: white;
   text-shadow: 2px 2px #212121;
}
/*footer {
	margin-top: 2px;
	border: 4px solid #808080;
}*/
.map, .saltyQuestion, .sweetQuestion,
.wildQuestion, .spicyQuestion, .numbQuestion {
	width: 70%;
	height: 100%;
	position: relative;
	left: 0;
	top: 1px;
	overflow: hidden;
	border: 5px double #BDBDBD;
	height: 510px;
}
.saltyQuestion, .sweetQuestion,
.wildQuestion, .spicyQuestion, .numbQuestion {
	/*display: none;*/
	}
.map svg {
	transform: translate(-70px, -200px);
	display: block;
	margin: auto;
}

.butt {
	position: absolute;
	left: 70%;
	top: 0;
	margin: 5.8% 5% 0%;
	height: 16rem;
}
.butt input {
	height: 2.7rem;
	margin: 0.5rem;
	width: 14rem;
	display: list-item;
	border-radius: 8px;
	font-size: 1.03rem;
	font-family: serif;
	box-shadow: -2px 2px #808080;
	cursor: pointer;
	opacity: 0.6;
	pointer-events: none;
}
.butt input:active {
  transform: translate(-1px, 1px);
}
#salty {
	opacity: 1;
	pointer-events: auto;
	border: 2px solid #283593;
	background-color: #9FA8DA;
}
#sweet {
	border: 2px solid #00838F;
	background-color: #80DEEA;
}
#wild {
	border: 2px solid #558B2F;
	background-color: #C5E1A5;
}
#spicy {
	border: 2px solid #6A1B9A;
	background-color: #CE93D8;
}
#numbing {
	border: 2px solid #C62828;
	background-color: #EF9A9A;
}
.circle {
	position: absolute;
	left: 70%;
	top: 23rem;
	margin: 0% 7% 4%;
	height: 12rem;
	font-family: sans-serif;
}
.circle #dishes {
	font-family: serif;
	width: 100%;
	font-size: 1.3rem;
	margin-left: -1rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.circle #num {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	font-size: 4rem;
}
.saltyQuestion h2, .sweetQuestion h2, 
.wildQuestion h2, .spicyQuestion h2,
.numbQuestion h2 {
	margin: 1rem 1rem 0.2rem;
}
.saltyQuestion p {
	margin: 0.25rem 1rem;
	font-size: 1rem;
}
.sweetQuestion p {
	margin: 0.25rem 1rem;
	font-size: 1rem;
}
.wildQuestion p {
	margin: 0.3rem 1rem;
	font-size: 1rem;
}
.numbQuestion p {
	margin: 0.3rem 1rem;
	font-size: 1.05rem;
}
.spicyQuestion p {
	margin: 0.3rem 1rem;
	font-size: 1.05rem;
}
.saltyQuestion img, .sweetQuestion img,
.wildQuestion img, .spicyQuestion img,
.numbQuestion img {
	height: 10rem;
	width: 12rem;
	border: 2px solid #616161;
	border-radius: 4px;
}
.saltyQuestion form > div, .sweetQuestion form > div,
.wildQuestion form > div, .spicyQuestion form > div,
.numbQuestion form > div {
	display: inline-block;
	width: 33%;
	text-align: center;
	margin: 0.2rem 0;
}
.sub {
	width: 50%;
    padding: 1.2% 20%;
    color: #FFF;
    background: #1abc9c;
    font-size: 1.2rem;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin: 10px 25% 0;
    border-radius: 8px;
}
.sub:hover {
	background: #109177;
}

